<link rel="stylesheet" href="./css/footer.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
      console.log("footer is loaded");
  });
</script>
<div class="footer">
  <img
    class="footerlogo"
    src="./image/headerImg/bunnypen.png"  
  />

  <div class="copyright">
    copyright © 2021 | BUNNY 幫你文具
    <span class="contactIcon">
      <i class="fab fa-facebook-square fa-lg"></i>
      <i class="fab fa-line fa-lg"></i>
      <i class="fas fa-envelope-open-text fa-lg"></i>
    </span>
  </div>
</div>

