<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./css/scss/all.css">
    <link rel="stylesheet" href="./css/homepage.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="./srcipt/cookie.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#header").load("./header.html");
        $("#footer").load("./footer.html");


        $.ajax({
          url: '/bunnyProject/getOrderListByShipmentNo',
          type: "POST",
          dataType: "json",
          contentType: "application/json;charset=utf-8",
          success: function(data) {//data 是後台整個回傳的物件
            console.log(data);
            let date = new Date(data.olb.orderCreatedTime);
            $("#shipmentNo").text(data.olb.shipmentNo);
            $("#time").text(date.getFullYear() + `/` + (date.getMonth() + 1) + `/` + date.getDate());
            $("#delivery").text(data.olb.delivery);
            
            let itc =  $("#shopList").html("");
            
              for(let i = 0; i<data.oipb.length;i++){
                
                itc.append(
                `<tr>`+  
                `<th scope="row">`+(i+1)+`</th>`+
                  `<td>`+`<img src="`+data.oipb[i].imageUrl+`" style=" width: 50px;">`+`</td>`+
                  `<td>`+data.oipb[i].name+`</td>`+
                  `<td>`+data.oipb[i].quantity+`</td>`+
                  `<td>`+data.oipb[i].price+`</td>`+
                  `<td>`+data.oipb[i].amount+`</td>`+
                `</tr>`
                )
              }
              itc.append(
                `<tr>`+
                  `<td colspan="4"></td>`+
                  `<td colspan="1">運費</td>`+
                  `<td colspan="1" id="shipfee">`+data.olb.shipfee+`</td>`+
                `</tr>`+

                `<tr>`+
                  `<td colspan="4"></td>`+
                  `<td colspan="1">折價券</td>`+
                  `<td colspan="1"  id="coupon">`+data.olb.coupon+`</td>`+
                `</tr>`+

                `<tr>`+
                  `<td colspan="4"></td>`+
                  `<td colspan="1">總金額</td>`+
                  `<td colspan="1"  id="totalpayment">`+data.olb.totalPayment +` 元</td>`+
                `</tr>`
              )


            }
        });





      });



    </script>

    <title>order info</title>
  </head>
  <body class="">
    <!-- __HEADER__ START -->

    <!-- 透過 jquery 載入 header -->
	  <div id="header"></div>

    <!-- __HEADER__ END -->

    <!-- __MAIN__ START -->
 
    <!-- __MAIN_HEAD__ START -->
    <div class="pageHead w-100 d-flex justify-content-center mainbg pt-5 " > 
      <nav class="nav w-80 d-flex justify-content-center "   >
        <!-- <a class="nav-link bg-bt-active active" aria-current="page" href="#">Active</a> -->
        <a class="nav-link text-dark bg-bt-unActive w-23 m-1 text-center " href="./member_info.html">基本資料</a>
        <a class="nav-link text-dark bg-bt-unActive w-23 m-1 text-center " href="./password_change.html">修改密碼</a>
        <a class="nav-link bg-bt-active text-light w-23 m-1 text-center active" aria-current="page" href="./Order_list.html">訂單查詢</a>
        <a class="nav-link text-dark bg-bt-unActive w-23 m-1 text-center " href="./like_list.html">收藏清單</a>
      </nav>
    </div> 
      <!-- __MAIN_HEAD__ END -->

    <div class="container-fluid mainbg mainsize">
      <div class="row justify-content-center p-5">
        <div class="col-8 ">

          <div>
            <h1>訂單細項</h1>
          </div>
          <!-- 訂單基本資料 START -->
        <table class="table  ">

            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col"> </th>

              </tr>
            </thead>
            <tbody>
              <tr class="row">
                <th scope="row" class="text-center col-3">訂單編號</th>
                <td colspan="" class="text-start col-8" id="shipmentNo">123456789</td>
              </tr>

              <tr class="row">
                <th scope="row" class="text-center col-3">訂購日期</th>
                <td colspan="" class="text-start col-8" id="time" >2021-01-01</td>
              </tr>

              <tr class="row">
                <th scope="row" class="text-center col-3">付款及取貨方式</th>
                <td colspan="" class="text-start col-8" id="delivery">超商取貨付款</td>
              </tr>

              <!-- <tr class="row">
                <th scope="row" class="text-center col-3">配送方式</th>
                <td colspan="" class="text-start col-8" >全家便利商店</td>
              </tr> -->

              <tr class="row">
                <th scope="row" class="text-center col-3">訂單狀態</th>
                <td colspan="" class="text-start col-8" >配送中</td>
              </tr>


            </tbody>
          </table>
          <!-- 訂單基本資料 END -->

          <!-- 商品明細 START -->         
          <table class="table">

            <thead>
              <tr>
                <th scope="col"># </th>
                <th scope="col">(pic)</th>
                <th scope="col">商品名稱 </th>
                <th scope="col">數量 </th>
                <th scope="col">單價 </th>
                <th scope="col">金額 </th>
              </tr>
            </thead>
            <tbody id="shopList">
              <!-- <tr>
                <th scope="row">1</th>
                <td><img src="./image/jzfun 雙面膠帶 (24mm單捲).jpg" style="width: 50px;"></td>
                <td>zfun 雙面膠帶 (24mm單捲)</td>
                <td>10</td>
                <td>999</td>
                <td>9990</td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td><img src="./image/jzfun 雙面膠帶 (24mm單捲).jpg" style="width: 50px;" id="pdImg"></td>
                <td id="pdName">zfun 雙面膠帶 (24mm單捲)-2</td>
                <td id="quantity">10</td>
                <td id="price">999</td>
                <td id="total">9990</td>
              </tr> -->
            
            </tbody>


          </table>
          <!-- 商品明細 END -->  


        </div>
      </div>  

    </div>  

    <!-- __MAIN__ END -->

    <!-- __FOOTER__ START -->

    <!-- 透過 jquery 載入 header -->
    <div id="footer"></div>

    <!-- __FOOTER__ END -->

    
  </body>
</html>
