<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    /> -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="./css/homepage.css">
<link rel="stylesheet" href="./css/scss/all.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
	crossorigin="anonymous"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript" src="./srcipt/cookie.js"></script>
<script type="text/javascript">
      $(function() {
        $("#header").load("./header.html");
        $("#footer").load("./footer.html");
      });
    </script>

<title>password_change</title>
</head>
<body>
	<!-- 透過 jquery 載入 header -->
	<div id="header"></div>

	<!-- __MAIN__ START -->
	<div class="mainbg pt-5">
		<div class="pageHead w-100 d-flex justify-content-center">
			<nav class="nav w-80 d-flex justify-content-center ">
				<!-- <a class="nav-link bg-bt-active active" aria-current="page" href="#">Active</a> -->
				<a class="nav-link text-dark bg-bt-unActive w-23 m-1 text-center "
					aria-current="page" href="./member_info.html">基本資料</a> <a
					class="nav-link bg-bt-active text-light w-23 m-1 text-center active"
					aria-current="page" href="./password_change.html">修改密碼</a> <a
					class="nav-link text-dark bg-bt-unActive w-23 m-1 text-center "
					href="./Order_list.html">訂單查詢</a> <a
					class="nav-link text-dark bg-bt-unActive w-23 m-1 text-center "
					href="./like_list.html">收藏清單</a>
			</nav>
		</div>

		<!-- __MAIN_FROM__ START -->
		<!-- container -->
		<div
			class="mainsize  d-flex justify-content-center align-items-center ">
			<div style="border: 1px solid rgba(0, 0, 0, 0.3);"
				class=" col-4  container p-5 ">

				<div class=" d-flex flex-column align-items-center ">
					<p class="fs-2 text-dark text-start mb-3 ">修改密碼</p>

					<form action="" method="post">

						<label for="" class="mb-2">輸入舊密碼：</label> <br> <input
							type="password" class="mb-2" name="oldPw" id="oldPassword">
						<br> <label for="" class="mb-2">輸入新密碼：</label> <br> <input
							type="password" class="mb-2" name="newPw" id="newPassword">
						<br> <label for="" class="mb-2">再次輸入新密碼：</label> <br> <input
							type="password" class="mb-3" name="newPw2" id="againPassword">
						<br>

						<button id="btnModify" type="button"
							class=" btn btn-bt-submit text-light  mb-3 ">確認修改</button>


						<!-- <div>
                  <label for="________"> _________ </label>
                  <input type="number" step="0.001"  name="______" id="______">
                 </div> -->
					</form>

				</div>

			</div>
		</div>
		<!-- __MAIN_FORM__ END -->

	</div>
	<!-- __MAIN__ END -->

	<!-- 透過 jquery 載入 header -->
	<div id="footer"></div>
	<script type="text/javascript">


    var $btnModify = $("#btnModify");
	var $oldPassword = $('#oldPassword');
	var $newPassword = $('#newPassword');
	var $againPassword = $('#againPassword');

    
    $btnModify.click(function(){

		
        let passwordData = {
        		isChange : false ,
        		oldPassword : $oldPassword.val() ,
        		newPassword : $newPassword.val() ,
        		againPassword : $againPassword.val()
		};
        
        $.ajax({
            url: '/bunnyProject/member/changePW',
            data: JSON.stringify(passwordData), 
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function(data) { //data 是後台整個回傳的物件
            	console.log(data);
            	var info = JSON.stringify(data);
            	console.log(info);
            	if(data.isChange == true){
            		alert("修改成功");
                	}else{
                		alert("修改失敗");
                    	}
            	
                 
            },
            error: function() {
                alert('error');
            }
        });
    })
    </script>

</body>
</html>
