<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <script>

        $("#candicatesManage").click(function (){
            window.location.href = "/home";
        });
        $("#category").click(function (){
            window.location.href = "/loginPage";
        });
        $("#skill").click(function (){
            window.location.href = "/skills";
        });

        $("#clickToLogout").click(function (){
            $.ajax({
                url: "/logout",
                // data: JSON.stringify(loginVin), //這邊放整個要傳入後端的物件
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function(data) {
                    window.location.href = "/loginPage";
                }

            });
        });


    </script>
</head>
<body>
<!-- 導覽開始 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Vayne</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">管理</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    招募管理
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" id="candicatesManage">求職者管理</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="category">職務類別管理</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="skill">技能類別管理</a>
            </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fa fa-cog"></i>帳戶</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="clickToLogout"><i class="fas fa-sign-out-alt"></i>登出</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- 導覽結束 -->



</body>
</html>